@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');


navbar-brand{

    font-size: 30px;
    font-family: 'Macondo', cursive; ;


    }

.card-text{
margin: 20% 10% 20% 10%;

}
.btn btn-dark{
    margin-left: 50%;
}